

.mycontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.mycontainer-logo img {
  width: 260px;
  cursor: pointer;
}
.mycontainer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}
.mycontainer-link {
  cursor: pointer;
}

.mycontainer-link:hover {
  color: #e52e06;
}

.mycontainer-others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.mycontainer-others-search input {
  border: solid 0;
  background-color: #F5F5F5;
  padding: 10px 20px;
  outline: none;
  border-radius:10px ;
}

.cart-items-number {
  background-color: #e52e06;
  color: white;
  padding: 1px 5px;
  border-radius: 100%;
}

.mycontainer-others-cart {
  position: relative;
}

.mycontainer-others-register{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.reg-btn {
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 3px;
}
.login-btn {
  background-color: transparent;
  border: solid 0.05rem ;
}
.signup-btn {
  background-color: #e52e06;
  border: solid 0.05rem ;
  color: white;
}
.signup-btn:hover {
  background-color: transparent;
  border: solid 0.05rem #e52e06;
  color: black;
}

.login-btn:hover {
  background-color: black;
  border: solid 0.05rem black;
  color: white;
}

.mynavbar-userprofile-list {
  background-color: #F5F5F5;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  right: 20px;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.links {
  text-decoration: none;
  color: black;
}

app-cart-item-popup {
  position: absolute;
  right: 0px;
  top: 29px;
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}


.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
