<div class="mycontainer">

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Total</th>
      <th scope="col">Date</th>
      <th scope="col">Client Informations</th>
      <th scope="col">Products</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of commands">
      <td>{{order.id}}</td>
      <td>{{order.price}} $</td>
      <td>{{order.localDateTime}}</td>
      <td>
        <div class="client-info">
          <p>{{order.address.addressContent}}</p>
          <p>+{{order.address.phone}}</p>
        </div>
      </td>
      <td>
      <app-product-order [cartItems]="order.shoppingCarts"></app-product-order>
      </td>
      <td>
        <p style="color: red" *ngIf="order.status=='undelivered'">{{order.status}}</p>
        <p style="color: #0EA01C" *ngIf="order.status=='delivered'">{{order.status}}</p>
      </td>
      <td>
        <button type="button" class="btn btn-success" [disabled]="order.status=='delivered'" (click)="changeOrderStatus(order.id)">Deliver</button>
      </td>
    </tr>

    </tbody>
  </table>


</div>
