<div class="mycontainer">
    <div class="mycontainer-menu">
        <div class="mycontainer-menu-img">
            <img src="assets/images/logo%20pn.png">
        </div>
        <div class="mycontainer-menu-links">
            <div class="link" routerLink="products">
<!--                <i class="fa-solid fa-store"></i>-->
                Products
            </div>

          <div class="link" routerLink="orders">
<!--            <i class="fa-solid fa-shop" ></i>-->
            Orders
          </div>

          <div *ngIf="loggedRole=='admin'" class="link" routerLink="users">
            <!--            <i class="fa-solid fa-shop" ></i>-->
            Users
          </div>
          <div class="link" (click)="logout()">
            <!--            <i class="fa-solid fa-shop" ></i>-->
            Logout
          </div>
        </div>
    </div>
    <div class="mycontainer-stuff">
        <router-outlet></router-outlet>
    </div>
</div>
